body{
    margin: 0;
    
}
header {
	background: lightgrey;
	padding: 5px;
	margin-top: -100px;
	position: absolute;
	width: 100%;
	height: 40px;
    
	margin-left: -10px;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h3{
	margin-top: -10px;
	position: absolute;
	margin-left: 15px;
	
}
.nav-top{
	position: relative;
}
.nav-list{
	display: inline-block;
	margin-top: -10px;
	font-size: 20px;
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
    color: purple;
}


section, main{
    margin-left: 75px;   
    
}


form{
    
    margin-top: 100px;
    margin-bottom: 35px;
}

.search {
    font-size: 17px;
    height: auto;
    width: 40%;
    border-radius: 5px;
    padding: 14px 20px;
    border: 1px solid #DDD;
    
}

.magnifying-glass{
    
    margin-bottom: -20px;
    height: auto;
    font-size: 10px;
    width: 42px;
    padding: 3px;
    border: 1px solid #DDD;
    border-radius: 5px;
}
.pcolorone{
    color: black;
    font-size: 17px;
    border: 1px solid #DDD;
    height: 15px;
    margin-right: -5px;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pcolortwo{
     color: black;
    font-size: 17px;
    border: 1px solid #DDD;
    height: 15px;
    padding: 8px;
    margin-left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav.pages{
    margin-left: 75px;
}


.pageNumber{
    font-size: 17px;
    height: 15px;
    padding: 8px;
    border: 1px solid #DDD;
    
}
.list{
    color: purple;
    font-size: 20px;
}
.listings{
   padding: 20px;
    font-size: 20px;
    list-style: none;
}
.grey{
    color: grey;
    
}